[Desktop Entry]
Type=Application
Name=Source-Engine
Comment=Modified source engine (2017)
Exec=hl2_launcher
Icon=source-engine.ico
Terminal=false
Categories=Game;Action
